body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.name{
    color: orange;
}
.flexible-container{
    display: flex;
    margin-bottom: 100px;
}
.pera{
    width: 50%;
    padding-left: 5%;
}
.pera img{
    width: 80%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, red);
    color: white;
    font-weight: 700;
    padding: 10px 30px;
    border-radius: 5px;
}
#top{
    background-image: url(photoss/rainbow.jpg);
    background-repeat: no-repeat;
}
.side{
    color: white;

}
p{
    text-align: justify;
}
head-1{
    color: white;
    font-weight: 800;
}
#side-2{
    padding-right: 40%;
}
#bottom{
    background-image: url(photoss/qq.jpg);
    background-position: right;
    background-repeat: no-repeat;
}
.experience-item{
    padding: 15px;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 10px;
    box-shadow: 10px 10px 40px gray;
}
#web-dev-experience{
    border-left: 10px solid;
    border-color: tomato;
}
#habijabi{
    border-left: 10px solid;
    border-color: rgb(184, 28, 0);
}
footer p{
    text-align: center;
}